.table-loading-overlay[data-v-6f4e0bda]{border-radius:.5rem;z-index:10}@keyframes pulse-6f4e0bda{0%,to{opacity:1}50%{opacity:.5}}.animate-pulse[data-v-6f4e0bda]{animation:pulse-6f4e0bda 2s cubic-bezier(.4,0,.6,1) infinite}
